label{
    color:blue;
    background-color: lightgray;
    width: 190px;
    float: left;
}

.commentaires{
    display: inline-block;
    float: left;
}

.clear{
    clear: both;
}
 
div:first-child{
    float: left;
 }