*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* justify-content: space-between; */
    /* justify-content: center; */
}
 
div{
    width: 30%;
}