* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: "kufam", sans-serif;
  text-shadow: black  0 1px 5px;
}

/* header */

header{
    background: linear-gradient(rgb(45, 253, 149),rgb(34,193,195)) ;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}


.logoimg{
    height: 80px;
}

.clickablelist{
    display: flex;
    float: right;
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    font-weight: 600 ;
    padding: 10px;
}

/* marquee */

marquee{
    height: 50px;
    background-color: rgb(34,193,195);
    border: white 4px double;
    display: flex;
    align-items: center;
}

/* END marquee */

/* END header */

/* main */

main img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.content {
    width : 60%;
    margin: auto;
}

main section {
    margin: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.japoncontent{
    background: linear-gradient(rgb(86,166,241),rgb(191,129,148));
    width: 100%;
    border-radius: 15PX;

}

.thailandecontent{
    background: linear-gradient(rgb(70,134,195),rgb(97,227,194));
    border-radius: 15PX;

}

.indecontent{
    background-image: linear-gradient(rgb(92,144,181),rgb(226,132,23));
    border-radius: 15PX;
}

.imgpays{
    width: 50%;
    
}


/* END main */

/* footer */

footer{
    height: 100px;
    background: linear-gradient(rgb(34,193,195),rgb(45, 253, 149)) ;
}

.footertext{
    float: right;
    line-height: 100px;
}
/* END footer */