* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "kufam", sans-serif;
  color: white;
}

/* header */

header{
    height: 100px;
    background-image: linear-gradient(rgb(45, 253, 149),rgb(34,193,195)) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logotext{
    line-height: 100px;
}

.logoimg{
    height: 80px;
    justify-content: center;
}
.clickabletext{
    width: 50%;
    list-style-type: none;
}

.clickablelist{
    display: flex;
    flex-wrap: wrap;
    line-height: 100px;
    float: right;
}

a{
    text-decoration: none;
}

ul{
    margin-right: 20px;
}


/* marquee */

marquee{
    height: 50px;
    background-color: rgb(34,193,195);
    border: white 4px double;
}

.marquee_text{
    font-size: 20px;
}

/* END marquee */

/* END header */

/* main */

main img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.content {
    width : 70%;
    margin: auto;
}

main div {
    margin: 20px;
}
.japoncontent{
    background-image: linear-gradient(rgb(86,166,241),rgb(191,129,148));
    height: 30%;
    width: 100%;
    border-radius: 15PX;
    display: flex;
}

.thailandecontent{
    background-image: linear-gradient(rgb(70,134,195),rgb(97,227,194));
    height: 30%;
    width: 100%;
    border-radius: 15PX;
    display: flex;
}

.indecontent{
    background-image: linear-gradient(rgb(92,144,181),rgb(226,132,23));
    height: 30%;
    width: 100%;
    border-radius: 15PX;
    display: flex;
}





/* END main */

/* footer */

footer{
    height: 100px;
    background-image: linear-gradient(rgb(34,193,195),rgb(45, 253, 149)) ;
}

.footertext{
    float: right;
    line-height: 100px;
}
/* END footer */